.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.805),
      rgba($color-primary-dark, 0.726)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;

  /* cutting picture */
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  position: relative;

  &__logo_box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
    margin: 2rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /* move picture for absolute position for exactly middle */
    transform: translate(-50%, -50%);

    /* make button centered */
    text-align: center;
    width: 65rem;
  }
}
