.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.6rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4 rem rgba($color-black, 0.15);
  transition: transform 0.3s;
  &__icon {
    margin-bottom: 0.5rem;
    fill: #087f5b;
    width: 6rem;
    height: 6rem;
    display: inline-block;
  }

  // &__text {
  // }

  &:hover {
    transform: translateY(-1.5rem) scale(1.05);
  }
}
